/*引入图标大小固定为主题自带参数*/
.iconfont {
	font-size: 100% !important;
}

/*-------------------------------------------------------------------------------------------------*/
/*效果看本站文章侧边目录*/
.toc-link.active {
    background: #FCA4D4
}

/*-------------------------------------------------------------------------------------------------*/
/*顶部栏*/
#page-header.nav-fixed #nav{
	background: rgba(255, 251, 255, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#page-header.nav-fixed #nav{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

#nav .show{
	background: rgba(255, 251, 255, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#nav .show{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

/*手机模式侧边栏*/
#sidebar #sidebar-menus.open{
	background:rgba(255, 251, 255, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
[data-theme=dark]
#sidebar #sidebar-menus.open{
	background:rgba(252, 224, 252, 0.11) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
/*侧边控制按钮*/
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up, 
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
[data-theme=dark]
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up,
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
/*
/*搜索
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(255, 255, 255, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
}
[data-theme=dark]
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(252, 224, 252, 0.2) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
} 
*/ 
/*-------------------------------------------------------------------------------------------------*/
/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }

/*-------------------------------------------------------------------------------------------------*/
/* 页脚footer */
/* 渐变色滚动动画 */
/*
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}
*/

/* 页脚全透明 */
#footer {
    background: transparent !important; /*全透明，已选用*/
}

/* 半透明以及透明色，未选用，
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}
#footer::before {
    background: rgba(255,255,255,.15)
}
*/
#footer #footer-wrap {
    color: var(--font-color);
}

#footer #footer-wrap a {
    color: var(--font-color);
}
/*-------------------------------------------------------------------------------------------------*/
/* 鼠标样式 */
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

/*-------------------------------------------------------------------------------------------------*/
/* 阅读模式字体 */
.read-mode{
    /* 字体大小 */
    font-size:17px;
    /* 可以在这里引入自定义字体，具体方法请自行百度css引入字体 */
}
.read-mode #web_bg{
    /* 背景颜色 */
    background:#fdf6e3;
}

/*-------------------------------------------------------------------------------------------------*/
/*artitalk说说暗黑模式背景色和字体色*/
/*配置项https://artitalk.js.org/settings.html*/
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: #2c2c2c;
}
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    background: #2c2c2c;
}
[data-theme="dark"] #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    color: rgba(255, 255, 255, 0.9);
}
#operare_artitalk .at_button, #artitalk_main .at_button {
    background-color: var(--btn-bg) !important;
    color: var(--btn-color) !important;
    border-radius: 0.5em !important;
}
#operare_artitalk .at_button, #artitalk_main .at_button:hover {
    background-color: var(--btn-hover-color) !important;
}
/*artitalk说说暗黑模式背景色和字体色 end*/

/*-------------------------------------------------------------------------------------------------*/
/* Butterfly 添加顶部加载进度条 */
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 6rem;
    background: #eaecf2;
    overflow: hidden;
  }
  
  .pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
  }
  
  .pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
  }
  
  .pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    position: fixed;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #49b1f5;
    background: linear-gradient(
      to right,
      rgb(18, 194, 233),
      rgb(196, 113, 237),
      rgb(246, 79, 89)
    );
    animation: gradient 2s ease infinite;
    background-size: 200%;
  }

/*-------------------------------------------------------------------------------------------------*/
/* 自定义字体样式 */
/*引入字体*/
@font-face {
    font-family: iconfont;
    src: url(./fonts/iconfont.b322fa.eot);
    src: url(./fonts/iconfont.b322fa.eot#iefix) format("embedded-opentype"), 
	  url(./fonts/iconfont.8c627f.woff) format("woff"), 
	  url(./fonts/iconfont.16acc2.ttf) format("truetype"), 
	  url(./fonts/default-skin.b257fa.svg#iconfont) format("svg"), 
	  url(./fonts/tooltip.4004ff.svg#iconfont) format("svg"), 
	  url(./fonts/iconfont.45d7ee.svg#iconfont) format("svg");
}

/*设置全局字体*/
body {
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, Helvetica Neue, STHeiTi, Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    min-height: 100%;
    margin: 0;
}
/*正文字体*/
#article-container p {
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, Helvetica Neue, STHeiTi, Arial, sans-serif; 
    /*Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace;*/
    padding: 1px 3px;
    margin: 0 3px 1.75em;
    margin-top: 10px;
    font-size: 15px;
}

/*各级标题设置不同样式*/
#article-container h1 {
    font-size: 20px;
    font-size: 1.35rem;
    line-height: 1.25;
    margin-top: 30px;
    margin-top: 2em;
    margin-bottom: 1em
}

#article-container h2 {
    font-size: 17px;
    font-size: 1.2375rem;
    line-height: 1.2173913043;
    margin-top: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    margin-top: 2.4347826087em;
    margin-bottom: 1.1173913043em;
    border-bottom: 1px solid #aaa;/*文字底边横线*/
}

#article-container h3 {
    font-size: 14px;
    font-size: 1.1875rem;
    margin-top: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    line-height: 1.1052631579; 
    margin-top: 2.9473684211em;
    margin-bottom: 1.1736842105em;
    border-bottom: 1px solid #ddd; /*文字底边横线浅色*/
    font-style: italic; /*设置第三级标题斜体*/
}

#article-container h4,
#article-container h5,
#article-container h6 {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    line-height: 1.3125;
    margin-top: 3.5em;
    margin-bottom: 1.75em;
}

#article-container h4 {
    letter-spacing: .140625em;
    text-transform: uppercase;
}

.article-container h6 {
    font-style: italic;
}

#article-container h1,
#article-container h2,
#article-container h3,
#article-container h4,
#article-container h5,
#article-container h6 {
    font-weight: 900  /*字体粗细*/
}

/*文章标题字体*/
.post-title {
    font-family: STHeiTi;
}

/*文章版权信息字体*/
.author-info__name {
    font-family: Roboto, serif;
}

.sticky_layout {  /*侧边卡字体*/
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, Helvetica Neue, STHeiTi, Arial;
}

/*页脚字体*/
#footer {
    font-size: 12px;
    font-family: lucida grande, lucida sans unicode, lucida, Arial, sans-serif;
}

/*代码 字体*/
#article-container pre {
    padding: 1px 3px;
    margin: 0 3px;
    font-family: Roboto, serif, Menlo, Monaco,"Andale Mono","lucida console","Courier New", monospace !important;
    font-size: 14px;
}

/* 文章版权链接去掉下划线 */
#post .post-copyright .post-copyright-info a {
    text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------*/
/*代码框 字体设置*/
#article-container pre {
	padding: 1px 3px;
	margin: 0 3px;
	font-family: 'Fira Code', monospace !important;
}

/*-------------------------------------------------------------------------------------------------*/
/* 文章标题向上移动50px */
#post-info {
    transform: translateY(-50px);
}

/*-------------------------------------------------------------------------------------------------*/
/*波浪特效*/
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: -7.5px /*特效显示位置调整，正/负值：以中心点 上移/下移，一般改数值即可*/
}

.waves-area .waves-svg {
    width: 100%;
    height: 5rem
}

.waves-area .parallax>use {
    -webkit-animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite
}

.waves-area .parallax>use:first-child {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    fill: #ffffffb3
}

.waves-area .parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    fill: #ffffff80
}

.waves-area .parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
    fill: #ffffff4d
}

.waves-area .parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    fill: #f9fafb
}

@-webkit-keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0)
    }

    to {
        transform: translate3d(85px, 0, 0)
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0)
    }

    to {
        transform: translate3d(85px, 0, 0)
    }
}

/* 黑暗模式适配 */
[data-theme=dark]
.waves-area .parallax>use:first-child {
    fill: #0f172ab3
}
[data-theme=dark]
.waves-area .parallax>use:nth-child(2) {
    fill: #0f172a80
}
[data-theme=dark]
.waves-area .parallax>use:nth-child(3) {
    fill: #0f172a4d
}
[data-theme=dark]
.waves-area .parallax>use:nth-child(4) {
    fill: #070b14
}

/****修改波浪特效fill属性处颜色值（#后六位，7、8位透明度不用改），rgba(246, 239, 246) 与 #F6EFF6 效果是一样的*****/
.waves-area .parallax>use:first-child {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    fill: #ffffffb3
}

.waves-area .parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    fill: #ffffff80
}

.waves-area .parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
    fill: #ffffff4d
}

.waves-area .parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    fill: #ffffff
}


/*-------------------------------------------------------------------------------------------------*/
/* 主题背景渐变色 */
#web_bg {
    background: -webkit-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -moz-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -o-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -ms-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
  }

/*-------------------------------------------------------------------------------------------------*/
/*aplayer日间模式调整*/
/*背景色*/
.aplayer{
	background: rgba(255, 255, 255, 0.60)!important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07),0 1px 5px 0 rgba(0,0,0,.1);
	position: relative;
}
.aplayer.aplayer-fixed .aplayer-lrc:after,.aplayer.aplayer-fixed .aplayer-lrc:before {
	display: none
}
.aplayer.aplayer.aplayer-fixed .aplayer-body{
	background:rgba(255, 255, 255, 0.60)!important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
	position: fixed;
}
/*毛玻璃效果*/
.aplayer-list{
	backdrop-filter: blur(3px);
}
.aplayer-info{
	backdrop-filter: blur(3px);
}
/*滚动条*/
.aplayer .aplayer-list ol::-webkit-scrollbar {
	width: 5px
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #b0e1ff
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
	background-color: #b0e1ff
}
/*圆角*/
.aplayer.aplayer-fixed .aplayer-list{
    border-radius: 6px 6px 0 0!important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher{
    border-radius: 0 6px 6px 0!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    transition: 0.28s!important;
    border-radius: 6px!important;
}	
/*选中与播放中歌曲激活颜色*/
.aplayer .aplayer-list ol li:hover{
    background: #b0e1ff!important;
}
.aplayer .aplayer-list ol li.aplayer-list-light{
    background: #ffdffa!important;
}

/*aplayer黑暗模式*/
[data-theme=dark]
.aplayer{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer.aplayer-fixed .aplayer-body{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
	fill: #d4d4d4;
}
[data-theme=dark]	
.aplayer .aplayer-list ol li:hover{
    background: #407290!important;
}
[data-theme=dark]
.aplayer .aplayer-list ol li.aplayer-list-light{
    background: #9c8098!important;
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-index{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-author{
    color: #d4d4d4;
}

/*-------------------------------------------------------------------------------------------------*/

/* 分类页面样式 */
#page .category-lists .category-list .category-list-item {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    width: 48%;
    font-weight: 700;
    margin: 0 0.5% 2% 0.5%;
    border-radius: var(--border-radius);
    -webkit-box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
    box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
    border-radius: 8px;
}

@media (max-width: 640px) {
    #page .category-lists .category-list .category-list-item {
        width: 95%;
        border-radius: 8px;
        margin-top: 3px;
    }
}

#page .category-lists .category-list .category-list-item::before {
    display: none;
}

#page .category-lists .category-list .category-list-item .category-list-link {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

#page .category-lists .category-list .category-list-item .category-list-link::after {
    content: "";
    position: relative;
    width: 0;
    bottom: 0;
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #fff;
}

#page .category-lists .category-list .category-list-item .category-list-link:hover::after {
    width: 60%;
    left: 1%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list .category-list-item .category-list-count {
    color: #fff;
    font-size: 1.3rem;
}

#page .category-lists .category-list .category-list-item .category-list-count::before {
    content: "\f02d";
    padding-right: 15px;
    font-family: "Font Awesome 6 Free";
}

/* #page .category-list-count::before, */
#page .category-list-count::after {
    display: none;
}

#page .category-lists .category-list li.category-list-item a.category-list-link::before {
    position: absolute;
    font-size: 4rem;
    line-height: 4rem;
    top: 1rem;
    right: 1rem;
    border-radius: 8px;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list li.category-list-item a.category-list-link:hover::before {
    opacity: 0.9;
    transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
}

/* 优秀文章 */
#page .category-lists .category-list li.category-list-item:nth-child(1) {
    background: #4074f6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

#page .category-lists .category-list li.category-list-item:nth-child(1) a.category-list-link::before {
    content: "📑";
}

/* 博客总结 */
#page .category-lists .category-list li.category-list-item:nth-child(2) {
    background: -webkit-linear-gradient(left, #ba52ed, #ff99fe);
    background: -moz-linear-gradient(left, #ba52ed, #ff99fe);
    background: -o-linear-gradient(left, #ba52ed, #ff99fe);
    background: -ms-linear-gradient(left, #ba52ed, #ff99fe);
    background: linear-gradient(to right, #ba52ed, #ff99fe);
}

#page .category-lists .category-list li.category-list-item:nth-child(2) a.category-list-link::before {
    content: "📚";
}

/* 博客搭建 */
#page .category-lists .category-list li.category-list-item:nth-child(3) {
    background: -webkit-linear-gradient(left, #6639a6, #3490de);
    background: -moz-linear-gradient(left, #6639a6, #3490de);
    background: -o-linear-gradient(left, #6639a6, #3490de);
    background: -ms-linear-gradient(left, #6639a6, #3490de);
    background: linear-gradient(to right, #6639a6, #3490de);
}

#page .category-lists .category-list li.category-list-item:nth-child(3) a.category-list-link::before {
    content: "🦋";
}

#page .category-lists .category-list li.category-list-item:nth-child(4) {
    background: -webkit-linear-gradient(right, #38ef7d, #11998e);
    background: -moz-linear-gradient(right, #38ef7d, #11998e);
    background: -o-linear-gradient(right, #38ef7d, #11998e);
    background: -ms-linear-gradient(right, #38ef7d, #11998e);
    background: linear-gradient(to left, #38ef7d, #11998e);
}

#page .category-lists .category-list li.category-list-item:nth-child(4) a.category-list-link::before {
    content: "📔";
}

/* 实用教程 */
#page .category-lists .category-list li.category-list-item:nth-child(5) {
    background: -webkit-linear-gradient(left, #b91d73, #f953c6);
    background: -moz-linear-gradient(left, #b91d73, #f953c6);
    background: -o-linear-gradient(left, #b91d73, #f953c6);
    background: -ms-linear-gradient(left, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
}

#page .category-lists .category-list li.category-list-item:nth-child(5) a.category-list-link::before {
    content: "✨";
}
/* 敲敲代码 */
#page .category-lists .category-list li.category-list-item:nth-child(6) {
    background: -webkit-linear-gradient(left, #f12711, #f5af19);
    background: -moz-linear-gradient(left, #f12711, #f5af19);
    background: -o-linear-gradient(left, #f12711, #f5af19);
    background: -ms-linear-gradient(left, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
}

#page .category-lists .category-list li.category-list-item:nth-child(6) a.category-list-link::before {
    content: "💻";
}

/* 生活杂谈 */
#page .category-lists .category-list li.category-list-item:nth-child(7) {
    background: -webkit-linear-gradient(left, #009ad6, #1b315e);
    background: -moz-linear-gradient(left, #009ad6, #1b315e);
    background: -o-linear-gradient(left, #009ad6, #1b315e);
    background: -ms-linear-gradient(left, #009ad6, #1b315e);
    background: linear-gradient(to right, #009ad6, #1b315e);
}

#page .category-lists .category-list li.category-list-item:nth-child(7) a.category-list-link::before {
    content: "💬";
}

/*-------------------------------------------------------------------------------------------------*/
/* 文章页背景 */
.layout > div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.5);
  }
  /* 所有背景（包括首页卡片、文章页、页面页等） */
  #recent-posts > .recent-post-item,
  .layout > div:first-child:not(.recent-posts),
  .layout_post > #page,
  .layout_post > #post,
  .read-mode .layout_post > #post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.5);
  }

  /*-------------------------------------------------------------------------------------------------*/